# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env
.env

SPILL/*
AJOAPP/test
AJOAPP/ajo_app/.gitignore
AJOAPP/ajo_app/.metadata
AJOAPP/ajo_app/analysis_options.yaml
AJOAPP/ajo_app/pubspec.lock
AJOAPP/ajo_app/pubspec.yaml
AJOAPP/ajo_app/README.md
AJOAPP/ajo_app/android/.gitignore
AJOAPP/ajo_app/android/build.gradle
AJOAPP/ajo_app/android/gradle.properties
AJOAPP/ajo_app/android/settings.gradle
AJOAPP/ajo_app/android/app/build.gradle
AJOAPP/ajo_app/android/app/src/debug/AndroidManifest.xml
AJOAPP/ajo_app/android/app/src/main/AndroidManifest.xml
AJOAPP/ajo_app/android/app/src/main/kotlin/com/example/ajo_app/MainActivity.kt
AJOAPP/ajo_app/android/app/src/main/res/drawable/launch_background.xml
AJOAPP/ajo_app/android/app/src/main/res/drawable-v21/launch_background.xml
AJOAPP/ajo_app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
AJOAPP/ajo_app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
AJOAPP/ajo_app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
AJOAPP/ajo_app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
AJOAPP/ajo_app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
AJOAPP/ajo_app/android/app/src/main/res/values/styles.xml
AJOAPP/ajo_app/android/app/src/main/res/values-night/styles.xml
AJOAPP/ajo_app/android/app/src/profile/AndroidManifest.xml
AJOAPP/ajo_app/android/gradle/wrapper/gradle-wrapper.properties
AJOAPP/ajo_app/ios/.gitignore
AJOAPP/ajo_app/ios/Flutter/AppFrameworkInfo.plist
AJOAPP/ajo_app/ios/Flutter/Debug.xcconfig
AJOAPP/ajo_app/ios/Flutter/Release.xcconfig
AJOAPP/ajo_app/ios/Runner/AppDelegate.swift
AJOAPP/ajo_app/ios/Runner/Info.plist
AJOAPP/ajo_app/ios/Runner/Runner-Bridging-Header.h
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
AJOAPP/ajo_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
AJOAPP/ajo_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
AJOAPP/ajo_app/ios/Runner/Base.lproj/Main.storyboard
AJOAPP/ajo_app/ios/Runner.xcodeproj/project.pbxproj
AJOAPP/ajo_app/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AJOAPP/ajo_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AJOAPP/ajo_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
AJOAPP/ajo_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
AJOAPP/ajo_app/ios/Runner.xcworkspace/contents.xcworkspacedata
AJOAPP/ajo_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AJOAPP/ajo_app/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
AJOAPP/ajo_app/lib/main.dart
AJOAPP/ajo_app/linux/.gitignore
AJOAPP/ajo_app/linux/CMakeLists.txt
AJOAPP/ajo_app/linux/main.cc
AJOAPP/ajo_app/linux/my_application.cc
AJOAPP/ajo_app/linux/my_application.h
AJOAPP/ajo_app/linux/flutter/CMakeLists.txt
AJOAPP/ajo_app/linux/flutter/generated_plugin_registrant.cc
AJOAPP/ajo_app/linux/flutter/generated_plugin_registrant.h
AJOAPP/ajo_app/linux/flutter/generated_plugins.cmake
AJOAPP/ajo_app/macos/.gitignore
AJOAPP/ajo_app/macos/Flutter/Flutter-Debug.xcconfig
AJOAPP/ajo_app/macos/Flutter/Flutter-Release.xcconfig
AJOAPP/ajo_app/macos/Flutter/GeneratedPluginRegistrant.swift
AJOAPP/ajo_app/macos/Runner/AppDelegate.swift
AJOAPP/ajo_app/macos/Runner/DebugProfile.entitlements
AJOAPP/ajo_app/macos/Runner/Info.plist
AJOAPP/ajo_app/macos/Runner/MainFlutterWindow.swift
AJOAPP/ajo_app/macos/Runner/Release.entitlements
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
AJOAPP/ajo_app/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
AJOAPP/ajo_app/macos/Runner/Base.lproj/MainMenu.xib
AJOAPP/ajo_app/macos/Runner/Configs/AppInfo.xcconfig
AJOAPP/ajo_app/macos/Runner/Configs/Debug.xcconfig
AJOAPP/ajo_app/macos/Runner/Configs/Release.xcconfig
AJOAPP/ajo_app/macos/Runner/Configs/Warnings.xcconfig
AJOAPP/ajo_app/macos/Runner.xcodeproj/project.pbxproj
AJOAPP/ajo_app/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AJOAPP/ajo_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
AJOAPP/ajo_app/macos/Runner.xcworkspace/contents.xcworkspacedata
AJOAPP/ajo_app/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AJOAPP/ajo_app/test/widget_test.dart
AJOAPP/ajo_app/web/favicon.png
AJOAPP/ajo_app/web/index.html
AJOAPP/ajo_app/web/manifest.json
AJOAPP/ajo_app/web/icons/Icon-192.png
AJOAPP/ajo_app/web/icons/Icon-512.png
AJOAPP/ajo_app/web/icons/Icon-maskable-192.png
AJOAPP/ajo_app/web/icons/Icon-maskable-512.png
AJOAPP/ajo_app/windows/.gitignore
AJOAPP/ajo_app/windows/CMakeLists.txt
AJOAPP/ajo_app/windows/flutter/CMakeLists.txt
AJOAPP/ajo_app/windows/flutter/generated_plugin_registrant.cc
AJOAPP/ajo_app/windows/flutter/generated_plugin_registrant.h
AJOAPP/ajo_app/windows/flutter/generated_plugins.cmake
AJOAPP/ajo_app/windows/runner/CMakeLists.txt
AJOAPP/ajo_app/windows/runner/flutter_window.cpp
AJOAPP/ajo_app/windows/runner/flutter_window.h
AJOAPP/ajo_app/windows/runner/main.cpp
AJOAPP/ajo_app/windows/runner/resource.h
AJOAPP/ajo_app/windows/runner/runner.exe.manifest
AJOAPP/ajo_app/windows/runner/Runner.rc
AJOAPP/ajo_app/windows/runner/utils.cpp
AJOAPP/ajo_app/windows/runner/utils.h
AJOAPP/ajo_app/windows/runner/win32_window.cpp
AJOAPP/ajo_app/windows/runner/win32_window.h
AJOAPP/ajo_app/windows/runner/resources/app_icon.ico
client/index.html
client/package-lock.json
client/package.json
client/script.js
client/style.css
client/2059ca74452a18d1560aac9499f58900-c394c330ea4a1e5a9eb4a48b06eaf6668035a436/style.css
client/assets/bot.svg
client/assets/favicon.ico
client/assets/send.svg
client/assets/user.svg
client/public/favicon.ico
client/index.html
client/package-lock.json
client/package.json
client/script.js
client/style.css
client/2059ca74452a18d1560aac9499f58900-c394c330ea4a1e5a9eb4a48b06eaf6668035a436/style.css
client/assets/bot.svg
client/assets/favicon.ico
client/assets/send.svg
client/assets/user.svg
client/public/favicon.ico
